doctype 5
html
	head
		title= title
		meta(charset='utf-8')
		meta(name='viewport', content='initial-scale=1.0, user-scalable=no')
		link(rel='stylesheet', href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap.min.css")
		style
			body {
				padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
				}
		link(href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-responsive.min.css", rel="stylesheet")
		link(rel='stylesheet', href='/stylesheets/collection.css')
		script(src='//code.jquery.com/jquery.min.js')
		script(src='//ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js')
		script(src='//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js')
		script(src='/javascripts/searchbox.js')
		script#dropdownitem(type='text/x-tmpl')
			//- extra div, will be removed when applying .html() to tmpl
			div
				.thumb
					img.pull-left(src="${image}")
					.summary
						h5.media-heading ${title}
						${author}

		//- generate some script if local -> alter Searchbox.js functionality
		- if(locals.localCollection)
			script
				Searchbox.isLocal = true;

	body
		.navbar.navbar-inverse.navbar-fixed-top
			.navbar-inner
				.container

					ul.nav
						li(class="#{(locals.localCollection || !locals.remoteCollection) ? 'active': ''}")
							a(href='/local') Local
						li(class="#{(locals.remoteCollection) ? 'active': ''}")
							a(href='/mangafox') Mangafox
					.nav-collapse(style='height:auto;')
						.navbar-search.pull-right
							-var placeholdertext = locals.remoteCollection ? 'mangafox' : 'locally';
							input#searchbox.search-query(type='text', placeholder='search #{placeholdertext}')

		.container
			- var collection = locals.localCollection? localCollection : remoteCollection;
			for item in collection
				.well.item(id="#{item.id}")
					a(href="#{item.url}")
						.image(style="background-image:url('#{item.image}')")
						h4 #{item.title}
						h6 #{item.author}
						.description !{item.description}

